<ion-header>
  <ion-toolbar>
    <ion-title>Přihlášení</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Email" labelPlacement="stacked" [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Heslo" labelPlacement="stacked" [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="error">
    <p style="margin-top: 8px;">{{ error }}</p>
  </ion-text>

  <ion-button expand="block" (click)="doLogin()" [disabled]="loading">
    Přihlásit
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="forgotPassword()" [disabled]="loading">
    Zapomenuté heslo
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/register">
    Nemáš účet? Registrovat
  </ion-button>
</ion-content>
