<ion-header>
  <ion-toolbar>
    <ion-title>Oblíbená města</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let c of favorites" button (click)="setActive(c)">
      <ion-label>
        <h2>{{ c }}</h2>
        <p *ngIf="c === activeCity">Aktivní</p>
      </ion-label>
      <ion-button fill="clear" color="danger" slot="end" (click)="remove(c); $event.stopPropagation()">
        Odebrat
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>